.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* ---------- BLUR EFFECT ---------- */
.blurWrapper {
  transition: filter 0.2s ease;
}

.blurred {
  filter: blur(1px);
  pointer-events: none; /* prevent interaction */
  opacity: 0.7;
}

/* ---------- OUT OF STOCK OVERLAY ---------- */
.outOfStockOverlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(190, 189, 189, 0.75);
  color: #dc2626;

  padding: 10px 10px;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;

  z-index: 10;
}

/* ---------- LOW STOCK BADGE ---------- */
.lowStockBadge {
  position: absolute;
  top: 10px;
  right: 10px;

  background: #dc2626;
  color: white;
  font-size: 12px;
  font-weight: 600;

  padding: 4px 10px;
  border-radius: 999px;

  z-index: 11;
}

/* ---------- ACTIONS ALWAYS CLICKABLE ---------- */
/* .actions {
  position: relative;
  z-index: 12;
} */

.imageWrapper {
  width: 100%;
  height: 180px;
  background-color: #f3f3f3;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  padding: 16px;
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
  color: #063b00;
  margin-bottom: 4px;
}

.category {
  font-size: 0.85rem;
  font-weight: 600;
  color: #4caf50;
  margin-bottom: 8px;
}

.description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 12px;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.vendorStatus {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin-bottom: 14px;
}

.vendor {
  color: #333;
}

.status {
  padding: 3px 10px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 0.75rem;
}

.active {
  background-color: #e8f5e9;
  color: #2e7d32;
}

.inactive {
  background-color: #fdecea;
  color: #c62828;
}

.section {
  margin-bottom: 12px;
}

.section h4 {
  font-size: 0.9rem;
  color: #063b00;
  margin-bottom: 6px;
}

.section ul {
  padding-left: 18px;
  font-size: 0.85rem;
  color: #444;
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.update {
  flex: 1;
  background-color: #2e7d32;
  color: #ffffff;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.update:hover {
  opacity: 0.9;
}

.delete {
  flex: 1;
  background-color: #a6ce39;
  color: #ffffff;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.delete:hover {
  opacity: 0.9;
}
