.container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
  flex-wrap: wrap; /* allows wrapping on smaller devices */
}

@media (max-width: 768px) {
  .container {
    gap: 16px;
  }
}
